




<h3>name</h3>

<table>
    <tr>
        <th>fname</th>
        <td><input type="text" name="fname" value=""><span class="error" id="fname"></span></td>
    </tr>

    <tr>
        <th>lname</th>
        <td><input type="text" name="lname" value=""><span class="error" id="lname"></span></td>
    </tr>


    <tr>
        <th>Affiliation</th>
        <td><input type="text" name="affiliation" value=""><span class="error" id="affiliation"></span></td>
    </tr>


    <tr>
        <th>Tel</th>
        <td><input type="text" name="tel" value=""><span class="error" id="tel"></span></td>
    </tr>

</table>






